.StoryLineTitle {
  margin: 20px;
}

.StorylineLayoutContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  padding: 0 5% 0 10%;
  box-sizing: border-box;
}

.StorylineLayout {
  display: flex;
  flex-flow: column nowrap;

  color: aquamarine;
}

.StorylineLayoutBox {
  background-color: #161c31;
  border-radius: 14px;
  padding: 20px;
  margin: 20px;

  width: 80%;
}

.StoryLineContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

